@media screen and (max-width: 1440px) {
    .header {
        max-width: 1440px;
        padding: 37px 50px;
    }
}

@media screen and (max-width: 1024px) {
    .header {
        max-width: 1024px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        max-width: 768px;
        padding: 37px 25px;
    }

    .header-links {
        display: none;
    }

    .burger-menu {
        display: flex;
    }
}

@media screen and (max-width: 425px) {
    .header {
        max-width: 425px;
    }
}

@media screen and (max-width: 375px) {
    .header {
        max-width: 375px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        max-width: 320px;
    }
}


////////////////////////////////////////////

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 425px) {

}

@media screen and (max-width: 375px) {

}

@media screen and (max-width: 320px) {

}