section {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--dark-blue);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 100px;
    width: 100%;
    max-width: 1440px;
    height: auto;

    img {
        width: 150px;
        height: auto;
    }
}

.header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 29px;
    cursor: pointer;

    p {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        position: relative;
        font-size: 23px;
        line-height: 27.6px;
        height: 32px;
        transition: 200ms ease-in-out;

        &:hover {
            color: var(--light-blue);
        }
    }
}

.about-me {
    width: 114px;
}

.skills {
    width: 57px;
}

.portfolio {
    width: 95px;
}

.visited {
    div {
        content: '';
        display: block;
        position: absolute;
        width: 55.5px;
        border-bottom: 3px solid var(--purple);
        transition: 200ms ease-in-out;
    }

    p {
        color: var(--light-blue);
    }
}

.burger-menu {
    display: flex;
    justify-content: flex-end;

    img {
        height: 27.2px;
        width: 30px;
        cursor: pointer;
    }
}

@media screen and (min-width: 391px) {
    .burger-menu {
        display: none;
    }
}

@media screen and (max-width: 390px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 37px 25px;
        width: 100%;
        max-width: 390px;
        height: auto;
        z-index: 2;
        box-sizing: border-box;
    
        img {
            width: 150px;
            height: auto;
        }
    }

    .header-links {
        display: none;
    }
}