section {
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--dark-blue);
}


header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 100px;
    width: 100%;
    max-width: 1440px;

    // img {
    //     width: 32px;
    //     height: 32px;
    // }
}

.header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 29px;

    a{
        font-size: 23px;
        line-height: 27.6px;
        height: 32px;
    }

    a:hover {
        color: var(--light-blue);
    }

    a:visited {
        content: '';
        display: block;
        border-bottom: 3px solid var(--purple);
        width: 55.5px;
        transition: linear 200ms ease-in-out;
        margin-top: 4px;
    }
} 

.about-me {
    width: 114px;
}

.skills {
    width: 57px;
}

.portfolios {
    width: 95px;
}