<div id="about-me" class="about-me">
    <div class="about-me-section">
        <div class="about-me-content">
            <h2>About me</h2>
            <div class="text-div">
                <p>Hi, I am a Front-end developer based in Kreuzlingen, Switzerland. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor sem non tempus convallis. Integer et justo vitae urna finibus eleifend sit amet porttitor sapien.</p>
                <div class="keys-section">
                    <div class="keys-div">
                        <img class="icon" src="assets/img/bulb.svg" alt="">
                        <p>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                    </div>
                    <div class="keys-div">
                        <img class="icon" src="assets/img/puzzle.svg" alt="">
                        <p>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="img-div">
            <div class="profile-img">
                <img src="assets/img/piri-profile.png" alt="">
            </div>
            <div class="border"></div>
        </div>
    </div>
</div>
