<div id="about-me" class="about-me">
    <div class="about-me-section" [class.visibleS]="isVisible">
        <div class="about-me-content">
            <h2>About me</h2>
            <div class="text-div">
                <p>Hi, I am a Front-end developer based in Kreuzlingen, Switzerland. I am passionate about creating efficient and innovative web solutions. I have a diverse skill set, including proficiency in JavaScript, Angular, REST APIs, and more. I aim to continue my journey as a Fullstack Developer and complete my Computer Science degree.</p>
                <div class="keys-section">
                    <div class="keys-div">
                        <img class="icon" src="assets/img/bulb.svg" alt="">
                        <p>I am fascinated by the process of creating new web solutions and continuously building my skills. I find great joy in problem-solving and turning complex challenges into simple, user-friendly experiences. My curiosity drives me to explore new technologies and stay updated with industry trends.</p>
                    </div>
                    <div class="keys-div">
                        <img class="icon puzzle" src="assets/img/puzzle.svg" alt="">
                        <p>Beyond coding, I enjoy collaborating with others, sharing knowledge, and learning from different perspectives. I believe that the best solutions come from a combination of technical expertise and creative thinking.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="img-div" [class.visible]="isVisible">
            <div class="profile-img">
                <img src="assets/img/piri-profile.png" alt="">
            </div>
            <div class="border"></div>
        </div>
    </div>
</div>
