.about-me {
    position: absolute;
    top: 1081px;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    scroll-margin-top: 180px;
}

.about-me-section {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.about-me-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    left: 100px;
    gap: 34px;
}

.text-div {
    display: flex;
    flex-direction: column;
    width: 471px;
    gap: 35px;
}

.keys-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 35px;
}

.keys-div {
    display: flex;
    gap: 35px;

    p {
        width: 359px;
        padding: 0;
        margin: 0;
    }
}

.icon {
    height: 50px;
    margin-top: 4px;
    padding: 0px 2px;
    transition: 125ms ease-in-out;

    &:hover {
        transform: scale(1.25) translateY(10px);
    }
}

.img-div {
    display: flex;
    align-items: center;
}

.profile-img {
    width: 453px;
    height: 453px;
    border: 4px solid var(--light-blue);
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 453px;
        height: 453px;
        object-fit: cover;
        border-radius: 50%;
        z-index: -1;
    }
}

.border {
    width: 267px;
    height: 0;
    border-top: 4px solid var(--light-blue);
}

@media screen and (min-width: 390px) {

}

@media screen and (max-width: 390px) {
    .about-me {
        top: 918px;
        scroll-margin-top: 120px;
    }

    .about-me-section {
        max-width: 390px;
    }

    .about-me-content {
        left: 25px;
    }

    .text-div {
        width: 338px;
    }
    
    .keys-div {
        align-items: center;

        p {
            width: 252px;
        }
    }

    .icon {
        width: 50px;
        height: 50px;
    }

    .puzzle {
        padding-left: 6px;
    }

    .img-div {
        display: none;
    }
}