@media screen and (max-width: 1440px) {
    .atf {
        // margin-top: 388px;
        opacity: 0;
    }

    .atf-section {
        max-width: 1440px;
        // background-image: url('../../assets/img/atf-shape-mobile.svg');
    }

    .atf-undersection {
        display: flex;
        justify-content: center;
    }

    .shadow {
        width: 800px;
        right: unset;
        bottom: 55px;
    }

    .shape {
        display: none;
    }

    .shape-mobile {
        display: block;
        position: absolute;
        bottom: -314px;
    }

    .atf-content {
        flex-direction: column;
        justify-content: space-around;
    }

    .photo-div {
        display: flex;
        justify-content: center;
        height: unset;
    }

    .profile-img {
        height: 377px;
        left: unset;
        bottom: 387px;
    }

    .right-section {
        position: unset;
    }

    .title-content {

    }

    .right-section {

    }

    .contact-div {
        left: 0;
    }


}

@media screen and (max-width: 1024px) {
    .atf-section {
        max-width: 1024px;
    }

    .mail-div {
        display: none;
    }

    .scroll-div {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .atf {
        margin-top: 188px;
    }

    .atf-section {
        max-width: 768px;
    }

    .mail-div {
        display: none;
    }

    .title-name {
        font-size: 28px;
        line-height: 28px;
    }

    .title-profession {
        font-size: 29px;
        line-height: 28.6px;
    }

    .iam {
        top: 36px;
        right: 166px;
        font-size: 24px;
    }

    .ichbin {
        top: 38px;
        right: 165px;
        font-size: 15px;
    }

    .title-content {
        left: 8px;
    }

    .profile-img {
        top: 100px;
        height: 335px;
    }

    .right-section {
        top: 100px;
    }

    .contact-div {
        bottom: 32px;
    }

    .title-div {
        width: 100%;
        gap: 22px;

        button {
            font-size: 16px;
            line-height: 19.2px;
        }
    }

    .border {
        width: 64px;
    }
}

@media screen and (max-width: 425px) {
    .atf-section {
        max-width: 768px;
    }

}

@media screen and (max-width: 375px) {
    .atf-section {
        max-width: 375px;
    }

    .profile-img {
        top: 132px;
        height: 254px;
    }

    .title-name {
        font-size: 22px;
        line-height: 22px;
    }

    .title-profession {
        font-size: 22.6px;
        line-height: 22px;
    }

    .iam {
        top: 31px;
        right: 130px;
        font-size: 18px;
    }

    .ichbin {
        top: 32px;
        right: 129px;
        font-size: 11px;
    }

    .contact-section {
        gap: 22px;
    }

    .socialmedia-btns {
        gap: 32px;
    }

    .right-section {
        top: 132px;
    }

    .contact-div {
        bottom: 0;
    }
}

@media screen and (max-width: 320px) {
    .atf-section {
        max-width: 1024px;
    }

    .profile-img {
        top: 116px;
    }
}


@media screen and (max-height: 1010px) and (max-width: 1440px) {
    .right-section {

    }

    .contact-div {

    }
}

@media screen and (min-height: 1050px) {
    .atf-undersection {

    }
}

@media screen and (min-height: 1450px) {
    .atf-undersection {

    }
}

@media screen and (min-height: 1900px) {
    .atf-undersection {

    }
}

@media screen and (max-width: 1440px) {
    .atf-undersection {

    }
}

