<img class="shape" src="assets/img/atf-shape.png" alt="Shape">
<section class="atf">
    <div class="atf-section">
        <img class="profile-img" src="assets/img/piri.png" alt="Piri">
        <div class="title-div">
            <span>
                <p class="iam">I am</p>
                <h2 class="title-name">Pirathib Mahalingam</h2>
                <p class="title-profession">FRONTEND DEVELOPER</p>
            </span>
            <button>Lets talk</button>
        </div>
    </div>
    <div class="contact-div">
        <div class="contact-section">
            <div class="border"></div>
            <div class="socialmedia-btns">
                <img src="assets/img/github-btn.png" alt="Github">
                <img src="assets/img/mail-btn.png" alt="E-Mail">
                <img src="assets/img/linkedin-btn.png" alt="Linkedin">
            </div>
            <a href="">contact&#64;pirathib-mahalingam.com</a>
        </div>
    </div>
    <div class="scroll-div">
        <div class="scroll-section">
            <a href="">Scroll down</a>
            <img src="assets/img/arrow-down-line.png" alt="Arrow-down">
        </div>
    </div>
</section>