.atf {
    height: 100vh;
    width: 100%;
    background-image: url(/assets/img/atf-shape.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;

    button {
        border: 0px;
        border-radius: 10px;
        padding: 15px 30px;
        gap: 10px;
        background-color: var(--light-blue);
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
            transition: linear 125ms ease-out;
        }
    }
}

.atf-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.profile-img {
    width: 646px;
    height: 705px;
}