.atf {
    width: 100vw;
    display: flex;
    justify-content: center;
    scroll-margin-top: 114px;
    padding-top: 114px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.atf-section {
    width: 100%;
    max-width: 1440px;
    // overflow-x: clip;
}

.shape-div {
    width: 100%;
}

.shape {
    width: 1440px;
    height: 1080px;
    position: absolute;
    bottom: -333px;
    z-index: 1;
    user-select: none;
}

.shape-mobile {
    display: none;
    width: 100vw;
    z-index: 1;
}

.atf-undersection {
    width: 100%;
    height: 100vh;
    min-height: 800px;
    max-height: 1368px;
    position: relative;
}

.shadow {
    // width: 690px;
    // height: 671px;
    // max-width: 100%;
    // position: absolute;
    bottom: -37px;
    right: 616px;
    z-index: 0;
}

.shadow-1 {
    position: absolute;
    top: -237px;
    left: 1189px;
    z-index: -1;
}

.atf-content {
    width: 100%;
    height: 64%;
    position: absolute;
    bottom: 300px;
}

.atf-title {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 35px;
}

.photo-div {
    height: 100%;
    display: flex;
    align-items: flex-end;
    z-index: 0;
}

.profile-img {
    height: 100%;
    margin-left: 100px;
    z-index: -1;
    opacity: 1;
}

.right-section {
    text-align: center;
    position: relative;
    margin-right: 100px;
    opacity: 0;
    z-index: 2;
}

.title-div {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    // position: relative;
    // left: 100px;
}

.button-div {
    display: flex;
    justify-content: center;

    button {
        font-size: 23px;
        line-height: 27.6px;
        border: unset;
        border-radius: 10px;
        padding: 15px 30px;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
        gap: 10px;
        background-color: var(--light-blue);
        color: white;
        cursor: pointer;
        transition: 125ms ease-out;
        // position: absolute;

        &:hover {
            padding: 20px 40px;
            background-color: var(--purple);
        }
    }
}

.title-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.verticalText {
    position: relative;
    transform: rotate(270deg);
}

.iam {
    top: 70px;
    right: 88px;
    font-size: 50px;
}

.ichbin {
    top: 69px;
    right: 76px;
    font-size: 32px;
}

.title-profession {
    font-size: 58px;
    line-height: 69.6px;
    color: var(--purple);
    margin: 0;
}

.border {
    width: 100px;
    border-bottom: 4px solid var(--purple);
}

.atf-links {
    width: 100%;
    position: absolute;
    bottom: 164px;
    z-index: 4;
}

.socialmedia-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;

    a {
        display: flex;
        transition: 100ms ease-out;

        img {
            width: 30px;
            height: 30px;
        }

        &:hover {
            transform: scale(1.25);
            transform-origin: left center;
        }

        &:hover~a {
            transform: translateX(10px);
        }
    }
}

.contact-div {
    display: flex;
    // position: relative;
    // bottom: 44px;
}

.contact-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 42px;
}

.scroll-div {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 0;
    bottom: 112px;
}

.scroll-section {
    transform: rotate(90deg);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    user-select: none;

    p {
        font-size: 23px;
        line-height: 27.6px;
    }

    img {
        width: 24px;
        height: 24px;
        transform: rotate(270deg);
    }
}

.animationSlideInRight {
    animation: slideInRightTitle 1250ms linear forwards;
}

.animationOscillation {
    animation: oscillation 700ms infinite;
}

@keyframes slideInRightTitle {
    0% {
        right: -700px;
        opacity: 0;
    }

    50% {
        right: -300px;
        opacity: 1;
    }

    100% {
        right: 0px;
        opacity: 1;
    }
}

@keyframes oscillation {
    0% {
        bottom: 112px;
    }

    25% {
        bottom: 108px;
    }

    50% {
        bottom: 104px;
    }

    75% {
        bottom: 108px;
    }

    100% {
        bottom: 112px;
    }
}