<div id="atf" class="atf">
    <div class="atf-section">
        <div class="atf-undersection">
            <div class="atf-content">
                <div class="atf-title">
                    <div class="photo-div">
                        <div class="img-block">
                            <img class="profile-img" src="assets/img/piri.png" alt="Piri">
                        </div>
                        <div class="shadow-block">
                            <img src="assets/img/shadows/photo-bgr.svg" alt="Shadow" class="shadow">
                        </div>
                    </div>
                    <div class="right-section" [class.animationSlideInRight]="isVisible">
                        <div class="title-div">
                            <span class="title-content">
                                @if (languageService.language == 'English') {
                                <p class="verticalText iam">I am</p>
                                }
                                @if (languageService.language == 'German') {
                                <p class="verticalText ichbin">Ich bin</p>
                                }
                                <h3 class="title-name">Pirathib Mahalingam</h3>
                                @if (languageService.language == 'English') {
                                <p class="title-profession">FRONTEND DEVELOPER</p>
                                }
                                @if (languageService.language == 'German') {
                                <p class="title-profession">FRONTEND-ENTWICKLER</p>
                                }

                            </span>
                            <a href="#contact" class="button-div">
                                @if (languageService.language == 'English') {
                                <button>Let's talk!</button>
                                }
                                @if (languageService.language == 'German') {
                                <button>Sprechen wir!</button>
                                }
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="atf-links">
                <div class="contact-div">
                    <div class="contact-section">
                        <div class="border"></div>
                        <div class="socialmedia-btns">
                            <a href="https://github.com/mahapiri" target="_blank"><img src="assets/img/github-btn.svg"
                                    alt="Github"></a>
                            <a href="#contact"><img src="assets/img/mail-btn.svg" alt="E-Mail"></a>
                            <a href="https://linkedin.com" target="_blank"><img src="assets/img/linkedin-btn.svg"
                                    alt="Linkedin"></a>
                        </div>
                        <a href="#contact" class="mail-div">hello&#64;pirathib-mahalingam.ch</a>
                    </div>
                </div>
                <div class="scroll-shadow-div">
                    <div class="scroll-div" [class.animationOscillation]="isVisible">
                        <div class="scroll-section">
                            @if (languageService.language == 'English') {
                            <p>Scroll down</p>
                            }
                            @if (languageService.language == 'German') {
                            <p>Scrollen</p>
                            }
                            <img src="assets/img/arrow-down-line.svg" alt="Arrow-down">
                        </div>
                    </div>
                    <div class="shadow-1">
                        <img src="/assets/img/shadows/about-me.svg" alt="Shadow" class="shadow-1-img">
                    </div>
                </div>
            </div>
            <img src="assets/img/atf-shape.svg" alt="Shape" class="shape" draggable="false">
            <img src="assets/img/atf-shape-mobile.svg" alt="Shape" class="shape-mobile" draggable="false">  
        </div>
    </div>
</div>