.shape {
    width: 100%;
}

.atf {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 120px;
    gap: 120px;
}

.atf-section {
    display: flex;
    justify-content: center;
}

.title-div {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 297px;
    left: 622px;
    gap: 35px;

    button {
        font-size: 23px;
        line-height: 27.6px;
        border: 0;
        border-radius: 10px;
        padding: 15px 30px;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
        gap: 10px;
        background-color: var(--light-blue);
        color: white;
        cursor: pointer;
        transition: 125ms ease-out;

        &:hover {
            padding: 20px 40px;
            background-color: var(--purple);
        }
    }
}

.profile-img {
    position: absolute;
    top: 106px;
    left: 47px;
    width: 646px;
    height: 705px;
    z-index: -1;
}

.iam {
    position: absolute;
    top: -8px;
    left: -122px;
    font-size: 64px;
    line-height: 76.8px;
    transform: rotate(270deg);
}

.title-profession {
    font-size: 58px;
    line-height: 69.6px;
    color: var(--purple);
    margin: 0;
}

.border {
    width: 100px;
    border: 4px solid var(--purple);
}

.socialmedia-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;

    img {
        width: 30px;
        height: 30px;
        transition: 100ms ease-out;

        &:hover{
            transform: scale(1.25);
            transform-origin: left center;
        }

        &:hover ~img {
            transform: translateX(10px);
        }
    }
}

.contact-div {
    position: absolute;
    left: 0;
    bottom: 210px;
}

.contact-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 42px;
}

.scroll-div {
    position: absolute;
    right: 0;
    bottom: 255px;
}

.scroll-section {
    transform: rotate(90deg);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    user-select: none;

    p {
        font-size: 23px;
        line-height: 27.6px;
    }


    img {
        width: 16px;
        height: 16px;
        transform: rotate(270deg);
    }
}