.contact {
    display: flex;
    justify-content: center;
    scroll-margin-top: 0px;
    height: 100%;
    margin-bottom: 114px;
}

.contact-content {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    display: flex;
    gap: 10px;
    // flex-direction: column;
    // justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 114px;
    padding: 37px 100px;
    position: relative;
    overflow-y: hidden;
    overflow-x: clip;
}

.shadow {
    position: absolute;
    transform: scaleX(-1) rotate(88deg);
    top: 143px;
    right: 855px;
}

h2 {
    margin-bottom: 70px;
    // margin-left: 100px;
}   

.contact-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    opacity: 0;
}

.border {
    position: relative;
    top: 54px;
    right: 100px;
    width: 50px;
    border-top: 4px solid var(--purple);
}

.contact-undersection {
    display: flex;
    align-items: flex-start;
    // margin-left: 100px;
    gap: 35px
}

.text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // max-width: 473px;
    gap: 35px;
}

.input-div {
    position: relative;
    width: -webkit-fill-available;

    span {
        height: 17px;
        font-size: 14px;
        line-height: 16.8px;
        color: var(--red);
        margin-left: 4px;
        margin-top: -18px;
        margin-bottom: 10px;
    }

    .error-msg {
        margin-top: 0;
        transition: 200ms ease-out;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // gap: 32px;
    gap: 12px;

    input[type="text"],
    textarea {
        font-family: 'Poppins';
        font-size: 16px;
        line-height: 19.2px;
        background-color: var(--dark-blue);
        border-radius: 10px;
        border: 1px solid var(--purple);
        color: white;
        padding: 15px 25px;

        &::placeholder {
            color: white;
        }

        &:hover {
            border-color: var(--blue-green);
            cursor: pointer;
        }
    }

    .error-border,
    .error-border:focus,
    .error-border:active,
    .error-border:visited {
        border-color: var(--red) !important;
        outline: none;
    }

    .done-border,
    .done-border:focus,
    .done-border:active,
    .done-border:visited {
        border-color: var(--green) !important;
        outline: none;
    }

    input[type="text"] {
        width: 617px;
        height: 50px;
    }

    textarea {
        width: 617px;
        height: 202px;
    }
}

input[type="submit"] {
    font-size: 23px;
    line-height: 27.6px;
    color: white;
    background-color: rgba(182, 182, 182, 1);
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    // gap: 10px;
    // position: absolute;
    // top: 572px;
    // position: relative;
    // top: 57px;
}

.checkbox-submit-box {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.submit-div {
    display: flex;
    justify-content: center;
    // position: absolute;

    // input {
    //     position: absolute;
    //     top: 76px;
    //     left: 201px;
    // }
}

.checkbox-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    // width: 617px;
    gap: 8px;
    position: relative;

    img {
        height: 24px;
        width: 24px;
        cursor: pointer;
    }
}

.checkbox-text {
    p {
        display: contents;
        font-size: 14px;
        line-height: 16.8px;
    }

    a {
        color: var(--purple);
        font-size: 14px;
        line-height: 16.8px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.checkbox-content {
    display: flex;
    align-items: center;
    gap: 4px;

    img {
        margin-right: 6px;
    }
}

// .go-up {
//     position: absolute;
// }
.go-up {
    position: relative;
    top: 46px;
    right: -675px;
    margin-top: 122px;
}

.go-up-btn {
    width: 39px;
    height: 39px;
    transition: 200ms ease-in-out;
    // position: relative;

    // img {
    //     position: relative;
    //     top: 815px;
    //     left: 567px;
    // }
}

.input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // height: 76px;
}

.textfield-height {
    height: 76px;
}

.messagefield-height {
    height: 232px;
}

.warn-symbol {
    width: 25px;
    height: 25px;
    position: relative;
    left: 576px;
    bottom: 37px;
}

.pos-bottom {
    bottom: 185px;
}

.success-btn {
    background-color: var(--light-blue) !important;
    cursor: pointer;
}
