<div class="contact" id="contact">
    <div class="contact-content">
        <div class="contact-div">
            <!-- <div class="border"></div> -->
            <h2>Contact</h2>
            <div class="contact-undersection">
                <div class="text-div">
                    <h5>Got a problem to solve?</h5>
                    <p>Contact me through this form, I am interested in hearing from you, knowing your ideas and
                        contributing to
                        your projects with my work.</p>
                    <p>Need a Frontend developer? <b>Contact me!</b></p>
                </div>
                <div class="input-div">
                    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                        <div>
                            <div class="input-field textfield-height">
                                <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="name"
                                    [placeholder]="errorMsg.name.field" (click)="checked('name')" [ngClass]="
                                    errorMsg.name.clicked ? (name.valid ? 'done-border' : 'error-border') : ''"
                                    required>
                                <img [src]="name.valid ? 'assets/img/done.svg' : 'assets/img/error.svg'"
                                    alt="Warn Symbol" [ngClass]="errorMsg.name.clicked ? 'warn-symbol' : 'd-none'">
                                @if (errorMsg.name.clicked && !name.valid) {
                                <span>{{ errorMsg.name.message }}</span>
                                }
                            </div>
                        </div>
                        <div class="input-field textfield-height">
                            <input #email="ngModel" [(ngModel)]="contactData.email" type="text" id="email" name="email"
                                [placeholder]="errorMsg.email.field"
                                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" (click)="checked('email')"
                                [ngClass]="errorMsg.email.clicked ? (email.valid ? 'done-border' : 'error-border') : ''"
                                required>
                            <img [src]="email.valid ? 'assets/img/done.svg' : 'assets/img/error.svg'" alt="Warn Symbol"
                                [ngClass]="errorMsg.email.clicked ? 'warn-symbol' : 'd-none'">
                            @if (errorMsg.email.clicked && !email.valid) {
                            <span>{{ errorMsg.email.message }}</span>
                            }
                        </div>
                        <div class="input-field messagefield-height">
                            <textarea #message="ngModel" [(ngModel)]="contactData.message" minlength="0" type="text"
                                id="message" name="message" [placeholder]="errorMsg.message.field" rows="7"
                                (click)="checked('message')"
                                [ngClass]="errorMsg.message.clicked ? (message.valid ? 'done-border' : 'error-border') : ''"
                                required></textarea>
                            <img [src]="message.valid ? 'assets/img/done.svg' : 'assets/img/error.svg'"
                                alt="Warn Symbol"
                                [ngClass]="errorMsg.message.clicked ? 'warn-symbol pos-bottom' : 'd-none'">
                            @if (errorMsg.message.clicked && !message.valid) {
                            <span>{{ errorMsg.message.message }}</span>
                            }
                        </div>
                        <div class="checkbox-submit-box">
                            <div class="checkbox-div">
                                <div class="checkbox-content">
                                    <img id="checkbox" (mouseenter)="boxHover = true;" (mouseleave)="boxHover = false;"
                                        [src]=" boxHover ? (marked ? 'assets/img/checkbox/checked-hover.svg' : 'assets/img/checkbox/default-hover.svg') 
                                    : (marked ? 'assets/img/checkbox/checked.svg' : 'assets/img/checkbox/default.svg')"
                                        alt="Checkbox" (click)="checked('checkbox')">
                                    <div class="checkbox-text">
                                        <p>I've read the </p>
                                        <a href="/privacy">privacy policy</a>
                                        <p> and agree to the processing of my data as outlined.</p>
                                    </div>   
                                </div>
                                @if (!marked && errorMsg.checkbox.clicked) {
                                <span class="error-msg">{{ errorMsg.checkbox.message }}</span>
                                }
                            </div>
                            <div class="submit-div">
                                <input [ngClass]="marked ? 'success-btn' : ''" type="submit" value="Send message :)">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- <div class="go-up">
            <a href="#atf" class="go-up-btn"><img (mouseenter)="hover = true;" (mouseleave)="hover = false;"
                    [src]="hover ? 'assets/img/go-up-btn-hover.svg' : 'assets/img/go-up-btn.svg'" alt="Go up"></a>
        </div> -->
    </div>
</div>