<div class="contact" id="contact">
    <div class="contact-content">
        <img src="assets/img/shadows/contact.svg" alt="Shadow" class="shadow">
        <div class="contact-div" [class.animationFadeIn]="isVisible">
            <div class="border"></div>
            @if (languageService.language == 'English') {
            <h2>Contact</h2>
            }
            @if (languageService.language == 'German') {
            <h2>Kontakt</h2>
            }
            <div class="contact-undersection">
                <div class="text-div">
                    @if (languageService.language == 'English') {
                    <h5>Want to connect or share ideas=</h5>
                    <p>I'm always open to exchanging knowledge, discussing projects or learning about what you're working on.</p>
                    <p>If you're into frontend development or tech in general - feel free to reach out!</p>
                    }
                    @if (languageService.language == 'German') {
                    <h5>Lust auf Austausch oder neue Ideen?</h5>
                    <p>Ich freue mich über jede Nachricht - ob zum gemeinsamen Lernen, Erfahrungsaustausch oder um über Projekte zu sprechen.</p>
                    <p>Wenn du dich für Frontend-Entwicklung oder Tech-Themen interessierst: Schreib mir gerne!</p>
                    }
                </div>
                <div class="input-div">
                    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                        <div>
                            <div class="input-field textfield-height">
                                <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="name"
                                    [placeholder]="languageService.language == 'English' ? errorMsg.name.fieldEn : errorMsg.name.fieldDe"
                                    (click)="checked('name')" (ngModelChange)="checkIfFilled()" [ngClass]="
                                    errorMsg.name.clicked ? (name.valid ? 'done-border' : 'error-border') : ''"
                                    required>
                                <img [src]="name.valid ? 'assets/img/done.svg' : 'assets/img/error.svg'"
                                    alt="Warn Symbol" [ngClass]="errorMsg.name.clicked ? 'warn-symbol warn-symbol-txt' : 'd-none'">
                                @if (errorMsg.name.clicked && !name.valid) {
                                @if (languageService.language == 'English') {
                                <span>{{ errorMsg.name.messageEn }}</span>
                                }
                                @if (languageService.language == 'German') {
                                <span>{{ errorMsg.name.messageDe }}</span>
                                }
                                }
                            </div>
                        </div>
                        <div class="input-field textfield-height">
                            <input #email="ngModel" [(ngModel)]="contactData.email" type="text" id="email" name="email"
                                [placeholder]="languageService.language == 'English' ? errorMsg.email.fieldEn : errorMsg.email.fieldDe"
                                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" (click)="checked('email')" (ngModelChange)="checkIfFilled()"
                                [ngClass]="errorMsg.email.clicked ? (email.valid ? 'done-border' : 'error-border') : ''"
                                required>
                            <img [src]="email.valid ? 'assets/img/done.svg' : 'assets/img/error.svg'" alt="Warn Symbol"
                                [ngClass]="errorMsg.email.clicked ? 'warn-symbol warn-symbol-txt' : 'd-none'">
                            @if (errorMsg.email.clicked && !email.valid) {
                            @if (languageService.language == 'English') {
                            <span>{{ errorMsg.email.messageEn }}</span>
                            }
                            @if (languageService.language == 'German') {
                            <span>{{ errorMsg.email.messageDe }}</span>
                            }
                            }
                        </div>
                        <div class="input-field messagefield-height">
                            <textarea #message="ngModel" [(ngModel)]="contactData.message" minlength="0" type="text"
                                id="message" name="message"
                                [placeholder]="languageService.language == 'English' ? errorMsg.message.fieldEn : errorMsg.message.fieldDe"
                                rows="7" (click)="checked('message')" (ngModelChange)="checkIfFilled()"
                                [ngClass]="errorMsg.message.clicked ? (message.valid ? 'done-border' : 'error-border') : ''"
                                required></textarea>
                            <img [src]="message.valid ? 'assets/img/done.svg' : 'assets/img/error.svg'"
                                alt="Warn Symbol"
                                [ngClass]="errorMsg.message.clicked ? 'warn-symbol pos-bottom' : 'd-none'">
                            @if (errorMsg.message.clicked && !message.valid) {
                            @if (languageService.language == 'English') {
                            <span class="warn-pos-bottom">{{ errorMsg.message.messageEn }}</span>
                            }
                            @if (languageService.language == 'German') {
                            <span class="warn-pos-bottom">{{ errorMsg.message.messageDe }}</span>
                            }
                            }
                        </div>
                        <div class="checkbox-submit-box">
                            <div class="checkbox-div">
                                <div class="checkbox-content">
                                    <img id="checkbox" (mouseenter)="boxHover = true;" (mouseleave)="boxHover = false;"
                                        [src]=" boxHover ? (marked ? 'assets/img/checkbox/checked-hover.svg' : 'assets/img/checkbox/default-hover.svg') 
                                    : (marked ? 'assets/img/checkbox/checked.svg' : 'assets/img/checkbox/default.svg')"
                                        alt="Checkbox" (click)="checked('checkbox')" (ngModelChange)="checkIfFilled()">
                                    <div class="checkbox-text">
                                        @if (languageService.language == 'English') {
                                        <p>I've read the </p>
                                        <a href="/privacy">privacy policy</a>
                                        <p> and agree to the processing of my data as outlined.</p>
                                        }
                                        @if (languageService.language == 'German') {
                                        <p>Ich habe die </p>
                                        <a href="/privacy">Datenschutzerklärung</a>
                                        <p> gelesen und stimme der Verarbeitung meiner Daten wie beschrieben zu.</p>
                                        }
                                    </div>
                                </div>
                                @if (!marked && errorMsg.checkbox.clicked) {
                                @if (languageService.language == 'English') {
                                <span class="error-msg">{{ errorMsg.checkbox.messageEn }}</span>
                                }
                                @if (languageService.language == 'German') {
                                <span class="error-msg">{{ errorMsg.checkbox.messageDe }}</span>
                                }
                                }
                            </div>
                            <div class="submit-div">
                                <input [ngClass]="filled ? 'success-btn' : ''"
                                    *ngIf="languageService.language == 'English'" type="submit" value="Send message :)">
                                <input [ngClass]="filled ? 'success-btn' : ''"
                                    *ngIf="languageService.language == 'German'" type="submit"
                                    value="Nachricht senden :)">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="go-up">
            <a href="#atf" class="go-up-btn" [class.animationOscillation]="isVisible"><img (mouseenter)="hover = true;"
                    (mouseleave)="hover = false;"
                    [src]="hover ? 'assets/img/go-up-btn-hover.svg' : 'assets/img/go-up-btn.svg'" alt="Go up"></a>
        </div>
    </div>
</div>