.contact {
    width: 100%;
    display: flex;
    justify-content: center;
    scroll-margin-top: 100px;
    margin-top: 114px;
    padding-bottom: 114px;
    overflow-y: clip;
    position: relative;
    z-index: 4;
}

.contact-content {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    padding: 37px 100px;
    position: relative;
}

.shadow {
    position: absolute;
    transform: scaleX(-1) rotate(88deg);
    right: 855px;
}

h2 {
    margin-bottom: 70px;
}

.contact-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    opacity: 0;
}

.border {
    position: absolute;
    top: 54px;
    left: -54px;
    width: 50px;
    border-top: 4px solid var(--purple);
}

.contact-undersection {
    display: flex;
    align-items: flex-start;
    gap: 35px
}

.text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
}

.input-div {
    position: relative;

    span {
        height: 17px;
        font-size: 14px;
        line-height: 16.8px;
        color: var(--red);
        margin-left: 4px;
        margin-top: -18px;
        margin-bottom: 10px;
        position: absolute;
        bottom: -4px;
    }

    .error-msg {
        margin-top: 0;
        transition: 125ms ease-out;
    }
}

.checkbox-div .error-msg {
    bottom: -32px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;

    input[type="text"],
    textarea {
        font-family: 'Poppins';
        font-size: 16px;
        line-height: 19.2px;
        background-color: var(--dark-blue);
        border-radius: 10px;
        border: 1px solid var(--purple);
        color: white;
        padding: 15px 25px;

        &::placeholder {
            color: white;
        }

        &:hover {
            border-color: var(--blue-green);
            cursor: pointer;
        }
    }

    .error-border,
    .error-border:focus,
    .error-border:active,
    .error-border:visited {
        border-color: var(--red) !important;
        outline: none;
    }

    .done-border,
    .done-border:focus,
    .done-border:active,
    .done-border:visited {
        border-color: var(--green) !important;
        outline: none;
    }

    input[type="text"] {
        width: 617px;
        height: 50px;
    }

    textarea {
        width: 617px;
        height: 202px;
    }
}

input[type="submit"] {
    font-size: 23px;
    line-height: 27.6px;
    color: white;
    background-color: rgba(182, 182, 182, 1);
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.checkbox-submit-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.submit-div {
    display: flex;
    justify-content: center;
}

.checkbox-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 8px;
    position: relative;

    img {
        height: 24px;
        width: 24px;
        cursor: pointer;
    }
}

.checkbox-text {
    p {
        display: contents;
        font-size: 14px;
        line-height: 16.8px;
    }

    a {
        color: var(--purple);
        font-size: 14px;
        line-height: 16.8px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.checkbox-content {
    display: flex;
    align-items: center;
    gap: 4px;

    img {
        margin-right: 6px;
    }
}

.go-up {
    position: relative;
    width: 100%;
    height: 39px;
    display: flex;
    justify-content: flex-end;
}

.go-up-btn {
    width: 39px;
    height: 39px;
    transition: 125ms ease-in-out;
    position: absolute;
    top: 84px;
}

.input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.textfield-height {
    height: 76px;
}

.messagefield-height {
    height: 232px;
}

.warn-symbol {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 16px;
    bottom: 38px;
}

.pos-bottom {
    bottom: 194px;
}

.warn-pos-bottom {
    bottom: -4px !important;
}

.success-btn {
    background-color: var(--light-blue) !important;
    cursor: pointer;
}

.animationOscillation {
    animation: oscillation 700ms infinite;
}

@keyframes oscillation {
    0% {
        top: 84px;
    }

    25% {
        top: 80px;
    }

    50% {
        top: 76px;
    }

    75% {
        top: 80px;
    }

    100% {
        top: 84px;
    }
}