@media screen and (max-width: 1440px) {
    .contact-content {
        max-width: 1440px;
        padding: 37px 50px;
    }

    input[type="text"] {
        width: 100% !important;
        height: 40px !important;
    }

    textarea {
        width: 100% !important;
        height: 162px !important;
    }

    .input-div {

        span {
            bottom: 0px;
        }
    }

    .warn-pos-bottom {
        bottom: 32px !important;
    }

    .contact-undersection {
        flex-direction: column;
    }

    form {
        align-items: unset;
    }

    .border {
        width: 20px;
        left: -50px;
    }

    .shadow {
        right: 1055px;
        top: 201px;
    }

}

@media screen and (max-width: 1024px) {
    .contact-content {
        max-width: 1024px;
    }

    .shadow {
        right: 855px;
    }
}

@media screen and (max-width: 768px) {
    .contact-content {
        max-width: 768px;
        padding: 37px 25px;
    }

    .contact-div {

        h2 {
            margin-bottom: 22px;
        }

    }

    .textfield-height {
        height: 64px;
    }

    .messagefield-height {
        height: 200px;
    }

    .checkbox-content {
        align-items: flex-start;

        img {
            margin-top: 4px;
        }
    }

    .submit-div {
        width: 100%;

        input {
            left: unset;
            top: 100px;
        }
    }

    .input-div {

        span {
            bottom: -8px;
        }
    }

    .warn-pos-bottom {
        bottom: 4px !important;
    }

    .warn-symbol {
        bottom: 32px;
    }

    .pos-bottom {
        bottom: 164px !important;
    }

    .border {
        top: 26px;
    }

    .shadow {
        right: 455px;
    }
}

@media screen and (max-width: 425px) {
    .contact-content {
        max-width: 425px;
    }
}

@media screen and (max-width: 375px) {
    .contact {
        scroll-margin-top: 120px;
    }

    .contact-content {
        max-width: 375px;
        gap: unset;
    }

    .shadow {
        right: 355px;
    }
}

@media screen and (max-width: 320px) {
    .contact-content {
        max-width: 320px;
    }
}