.work-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work-div {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 144px;
    margin-top: 122px;
    position: relative;
    z-index: 0;
}


.img-section {
    max-width: 620px;
    max-height: 339px;
    width: 50%;
    display: flex;
    align-items: flex-start;
    position: relative;
    opacity: 0;

    img {
        max-width: 320px;
        width: 100%;
    }
}

.info-section {
    height: 339px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 15px;
    position: relative;
    opacity: 0;
}

button {
    border: 0;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 15px 30px;
    gap: 10px;
    font-size: 23px;
    line-height: 27.6px;
    color: white;
    cursor: pointer;
    margin-top: 32px;
    transition: 125ms ease-out;

    &:hover {
        background-color: var(--light-blue);
    }
}

.livetest-btn {
    background-color: var(--purple);
}

.github-btn {
    border: 1px solid var(--light-blue);
    background-color: transparent;
}

.btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 86px;
}

.mg-l-100 {
    margin-left: 100px;
}

.mg-l-172 {
    margin-left: 172px;
}

.row {
    display: flex;
    flex-direction: row;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.right {
    justify-content: flex-end;
}

.p-100 {
    padding-left: 100px;
}

.p-172 {
    padding-right: 100px;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}