<table id="work">
    <tbody class="work-content">
        <ng-container *ngFor="let project of work; let i = index">
            <tr *ngIf="i % 2 === 0; else oddTemplate" class="work-div align-left" [attr.id]="'work-' + i">
                <td class="img-section right" [class.animationSlideInLeft]="isElementVisible(i)">
                    <img src="{{ project.img }}" alt="">
                </td>
                <td class="info-section p-172" [class.animationSlideInRight]="isElementVisible(i)">
                    <h4>{{ project.title }}</h4>
                    <h6>{{ project.subtitle }}</h6>
                    @if (languageService.language == 'English') {
                    <p>{{ project.descriptionEn }}</p>
                    }
                    @if (languageService.language == 'German') {
                    <p>{{ project.descriptionDe }}</p>
                    }
                    <div class="btn-div flex-start">
                        <a href="{{ project.link }}" target="_blank">
                            @if (languageService.language == 'English') {
                            <button class="livetest-btn">Live Test</button>
                            }
                            @if (languageService.language == 'German') {
                            <button class="livetest-btn">Jetzt testen</button>
                            }
                        </a>
                        <a href="{{ project.git }}" target="_blank">
                            <button class="github-btn">Github</button>
                        </a>
                    </div>
                </td>
            </tr>
            <ng-template #oddTemplate>
                <tr class="work-div align-right" [attr.id]="'work-' + i">
                    <td class="info-section p-100" [class.animationSlideInLeft]="isElementVisible(i)">
                        <h4>{{ project.title }}</h4>
                        <h6>{{ project.subtitle }}</h6>
                        @if (languageService.language == 'English') {
                        <p>{{ project.descriptionEn }}</p>
                        }
                        @if (languageService.language == 'German') {
                        <p>{{ project.descriptionDe }}</p>
                        }
                        <div class="btn-div flex-end">
                            <a href="{{ project.link }}" target="_blank">
                                @if (languageService.language == 'English') {
                                <button class="livetest-btn">Live Test</button>
                                }
                                @if (languageService.language == 'German') {
                                <button class="livetest-btn">Jetzt testen</button>
                                }
                            </a>
                            <a href="{{ project.git }}" target="_blank">
                                <button class="github-btn">Github</button>
                            </a>
                        </div>
                    </td>
                    <td class="img-section" [class.animationSlideInRight]="isElementVisible(i)">
                        <img src="{{ project.img }}" alt="">
                    </td>
                </tr>
            </ng-template>
        </ng-container>
    </tbody>
</table>