.portfolio {
    display: flex;
    justify-content: center;
    scroll-margin-top: 114px;
    margin-top: 114px;
    overflow-x: clip;
    position: relative;
    z-index: 4;
}

.portfolio-content {
    width: 100%;
    max-width: 1440px;
    padding: 37px 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shadow-content {
    position: relative;
}

.shadow {
    position: absolute;
}

.shadow-1 {
    top: 400px;
    right: 1110px;
}

.shadow-2 {
    transform: rotate(77deg);
    top: 910px;
    left: 1101px;
}

.portfolio-header {
    display: flex;
    justify-content: center;
}

.portfolio-header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title {
    position: relative;
}

.title::before {
    content: "";
    position: absolute;
    left: -117px;
    top: 54px;
    width: 109px;
    border-top: 4px solid var(--purple);
}

.title::after {
    content: "";
    position: absolute;
    right: -480px;
    top: 54px;
    width: 472px;
    border-top: 4px solid var(--purple);
}

p {
    margin-top: 32px;
}

.portfolio-mobileview {
    opacity: 0;
}

.work {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}