<div class="portfolio" id="portfolio">
    <div class="portfolio-content">
        <div class="portfolio-header">
            <div class="portfolio-mobileview">
                <h2>
                    <div class="border-left"></div>
                    Portfolio
                    <div class="border-right"></div>
                </h2>
                <p>Explore a selection of my work here - Interact with projects to see my skills in action.</p>    
            </div>
        </div>
        <app-work class="work"></app-work>
    </div>
</div>
