@media screen and (max-width: 1440px) {
    .portfolio-content {
        max-width: 1440px;
        padding: 37px 50px;
        // overflow-x: clip;
    }

    h2 {
        left: unset;
    }

    .border-right {
        // width: 451px;
        // right: -322px;
    }

    .border-left {
        // width: 134px;
    }

    .shadow-1 {
        right: 810px;
    }

    .shadow-2 {
        left: 801px;
    }
}

@media screen and (max-width: 1024px) {
    .portfolio-content {
        max-width: 1024px;
    }

    .portfolio-header {
        overflow-x: unset;
    }

    .border-right {
        // width: 308px;
        // right: -176px;
    }

    .border-left {
        // width: 64px;
    }

    .shadow-1 {
        right: 610px;
    }

    .shadow-2 {
        left: 601px;
    }
}

@media screen and (max-width: 768px) {
    .portfolio-content {
        max-width: 768px;
        padding: 37px 25px;
    }

    .shadow-1 {
        right: 410px;
    }

    .shadow-2 {
        left: 401px;
    }

    .portfolio-mobileview {
        width: 75%;

        p {
            text-align: center;
        }
    }

    .title::before {
        top: 22.5px;
        left: -72px;
        width: 64px;
    }
    
    .title::after {
        top: 22.5px;
    }

    .border-right {
        // width: 274px;
        // right: -112px;
        // left: 344px;
    }

    .border-left {
        // width: 64px;
        // left: 97px;
        // width: 30%;
    }
}

@media screen and (max-width: 622px) {
    .portfolio-content {
        max-width: 622px;
    }

    .border-right {
        // width: 124px;
    }

    .border-left {
        // width: 44px;
    }

    .title::before {
        left: -52px;
        width: 44px;
    }

    .portfolio-header {
        align-items: center;

        p {
            margin-top: 22px;
            text-align: center;
            width: 100%;
            // padding-right: 25px;
        }
    }

    .portfolio-header-content {
        width: 100%;
    }

    .shadow-1 {
        right: 310px;
    }

    .shadow-2 {
        left: 301px;
    }
}

@media screen and (max-width: 425px) {
    .portfolio-content {
        max-width: 425px;
    }

    // .portfolio-header {
    //     padding-left: unset;
    // }

    // .work {
    //     padding-right: 25px;
    // }

    .shadow-1 {
        right: 210px;
    }

    .shadow-2 {
        left: 201px;
    }
}

@media screen and (max-width: 375px) {
    .portfolio {
        scroll-margin-top: 120px;
    }

    .portfolio-content {
        max-width: 375px;
        // padding: 37px 25px;
    }

    .border-left {
        // width: 20px;
    }

    .border-right {
        // width: 75px;
    }

    .portfolio-mobileview {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .shadow-1 {
        right: 110px;
    }

    .shadow-2 {
        left: 101px;
    }
}

@media screen and (max-width: 320px) {
    .portfolio-content {
        max-width: 320px;
    }

}