<div class="portfolio" id="portfolio">
    <div class="portfolio-content">
        <div class="shadow-content">
            <img src="assets/img/shadows/portfolio-1.svg" alt="Shadow" class="shadow shadow-1">   
            <img src="assets/img/shadows/portfolio-2.svg" alt="Shadow" class="shadow shadow-2">
        </div>
        <div class="portfolio-header">
            <div class="portfolio-mobileview" [class.animationFadeIn]="isVisible">
                <div class="portfolio-header-content">
                    <div class="border-left"></div>
                    <h2 class="title">Portfolio</h2>
                    <div class="border-right"></div>
                </div>
                @if (languageService.language == 'English') {
                <p>Explore a selection of my work here - Interact with projects to see my skills in action.</p>
                }
                @if (languageService.language == 'German') {
                <p>Entdecken Sie hier eine Auswahl meiner Arbeiten - Interagieren Sie mit den Projekten, um meine
                    Fähigkeiten in Aktion zu sehen.</p>
                }
            </div>
        </div>
        <app-work class="work"></app-work>
    </div>
</div>