.portfolio {
    display: flex;
    justify-content: center;
    scroll-margin-top: 180px;
    margin-top: 114px;
}

.portfolio-content {
    width: 100%;
    max-width: 1440px;
    padding: 37px 0px 37px 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio-header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

h2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

p {
    margin-top: 32px;
    padding-right: 50px;
}

.border-left {
    margin-right: 10px;
    width: 109px;
    border-top: 4px solid var(--purple);
}

.border-right {
    margin-left: 10px;
    width: 484px;
    border-top: 4px solid var(--purple);
}

.work {
    position: relative;
    padding-right: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}