.portfolio {
    display: flex;
    justify-content: center;
    scroll-margin-top: 180px;
}

.portfolio-content {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio-header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

h2 {
    display: flex;
    justify-content: flex-end;
}

p {
    margin-top: 32px;
}

.border-left {
    position: relative;
    top: 56px;
    margin-right: 10px;
    width: 109px;
    border-top: 4px solid var(--purple);
}

.border-right {
    position: relative;
    top: 56px;
    margin-left: 10px;
    width: 484px;
    border-top: 4px solid var(--purple);
}

.work {
    position: relative;
    
}

@media screen and (max-width: 390px) {
    .portfolio {
        scroll-margin-top: 120px;
    }

    .portfolio-content {
        max-width: 390px;
    }

    .border-left {
        top: unset;
        width: 20px;
    }

    .border-right {
        top: unset;
        width: 75px;
    }

    .portfolio-header {
        align-items: center;
        h2 {
            width: 390px;
            align-items: center;
        }

        p {
            margin-top: 22px;
            text-align: center;
            width: 340px;
        }
    }

    .portfolio-mobileview {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}