.loadingSpinner {
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-blue);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}