.privacy-policy {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 114px;
}

.privacy-policy-content {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    padding: 37px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    position: relative;
    // overflow-x: clip;
    // background-image: url(../../assets/img/shadows/imprint.svg);
    // background-repeat: no-repeat;
    // background-position: 800px 6500px;

    p {
        text-align: justify;
        text-align-last: left;
        margin-bottom: 32px;
    }
}

.arrow-div {
    position: absolute;
    top: 37px;
    right: 116px;
}

.arrow {
    width: 39px;
    height: 39px;
    transform: rotate(270deg);
    transition: 125ms ease-in-out;
}

@media screen and (max-width: 1440px) {
    .privacy-policy-content {
        max-width: 1440px;
        padding: 37px 50px;
    }
}

@media screen and (max-width: 1024px) {
    .privacy-policy-content {
        max-width: 1024px;
    }

    .arrow-div {
        right: 66px;
    }
}

@media screen and (max-width: 768px) {
    .privacy-policy-content {
        max-width: 768px;
        padding: 37px 25px;
    }

    .arrow-div {
        right: 41px;
    }
}

@media screen and (max-width: 390px) {
    .privacy-policy-content {
        max-width: 390px;
        p {
            margin-bottom: unset;
        }
    }
}