section {
    position: absolute;
    top: 5042px;
    right: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    // border-top: 4px solid var(--light-blue);
    border: 1px solid yellow;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 100px;
    width: 100%;
    max-width: 1440px;
    border: 1px solid red;
    height: 291px;

    a {
        margin-left: 4px;
    }
}

.left-section {
    display: flex;
    flex-direction: column;
    gap: 3px;

    img {
        width: 150px;
        height: auto;
    }
}

.socialmedia-btns {
    display: flex;
    gap: 72px;

    img {
        width: 30px;
        height: 30px;
        transition: 100ms ease-out;

        &:hover {
            transform: scale(1.25);
            transform-origin: left top;
        }
    }
}

.copyright-div {
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: center;
}

.imprint {
    cursor: pointer;

    &:hover {
        border-bottom: 2px solid var(--light-blue);
        content: '';
        display: block;
        width: 55.5px;
        transition: 200ms ease-in-out;
    }
}