<section>
    <footer class="footer" id="footer">
        <div class="left-section">
            <a href="#atf"><img src="assets/img/logo.png" alt="Logo"></a>
            @if (languageService.language == 'English') {
            <a href="/imprint" class="imprint">Legal Notice</a>
            }
            @if (languageService.language == 'German') {
            <a href="/imprint" class="imprint">Impressum</a>
            }

        </div>
        <span class="copyright-div">&copy; Pirathib Mahalingam 2024</span>
        <div class="socialmedia-btns">
            <a href="https://github.com/mahapiri" target="_blank"><img src="assets/img/github-btn.svg" alt="Github"></a>
            <a href="#contact"><img src="assets/img/mail-btn.svg" alt="E-Mail"></a>
            <a href="https://www.linkedin.com/in/mahapiri/" target="_blank"><img src="assets/img/linkedin-btn.svg" alt="Linkedin"></a>
        </div>
    </footer>
</section>