<section>
    <footer>
        <div>
            <p class="logo">Pirathib</p>
            <a href="">Impressum</a>
        </div>
        <span class="copyright-div">&copy; Pirathib Mahalingam 2024</span>
        <div class="socialmedia-btns">
            <a href=""><img src="assets/img/github-btn.svg" alt="Github"></a>
            <a href="#contact"><img src="assets/img/mail-btn.svg" alt="E-Mail"></a>
            <a href=""><img src="assets/img/linkedin-btn.svg" alt="Linkedin"></a>
        </div>
    </footer>
</section>