@media screen and (max-width: 1440px) {
    .skills-section {
        max-width: 1440px;
        padding: 37px 50px;
    }

    .skills-content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .icon-div {
        margin-left: unset;
        padding: 70px 25px;
        gap: 54px;
        justify-content: center;
        margin-bottom: 100px;
    }

    .title-content {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: flex-end;

    }

    .title-header {
        display: unset;
        width: 100%;
        margin-right: unset;
    }

    .title-div {
        padding-right: 14px;
    }

    .button-div {
        top: 435px;
    }

    .shadow {
        right: 734px;
    }
}

@media screen and (max-width: 1200px) {
    .skills-section {
        max-width: 1200px;
    }

    .icon-div {
        gap: 70px;
    }
}

@media screen and (max-width: 1024px) {
    .skills-section {
        max-width: 1011px;
    }

    .button-div {
        top: 635px;
    }
}

@media screen and (max-width: 1100px) {
    .skills-section {
        max-width: 1100px;
    }

    .icon-div {
        gap: 40px;
    }
}

@media screen and (max-width: 1024px) {
    .skills-section {
        max-width: 1024px;
    }

    .icon-div {
        gap: 100px;
    }

    .title-header {
        p {
            width: 338px;
        }
    }

    .icons {
        width: 77px;

        p {
            font-size: 14px;
            line-height: 16.8px;
        }
    }

    .icon {
        height: 100px;
        display: flex;
        align-items: flex-end;

        img {
            height: 45px;
        }
    }

    .shadow {
        right: 534px;
    }
}

@media screen and (max-width: 768px) {
    .skills-section {
        max-width: 768px;
        padding: 37px 25px;
    }

    .title-header {
        margin-right: unset;
    }

    .border {
        width: 20px;
        top: 22px;
        right: -23px;
    }

    .button-div {

        button {
            font-size: 16px;
            line-height: 19.2px;
        }
    }

    .title-div {
        padding-right: unset;
    }

    .shadow {
        right: 334px;
    }
}

@media screen and (max-width: 707px) {
    .skills-section {
        max-width: 707px;
    }

    .button-div {
        top: 835px;
    }
}


@media screen and (max-width: 530px) {
    .skills-section {
        max-width: 530px;
    }

    .button-div {
        top: 1235px;
    }

    .shadow {
        right: 234px;
    }  
}

@media screen and (max-width: 425px) {
    .skills-section {
        max-width: 425px;
    }
}

@media screen and (max-width: 354px) {
    .skills-section {
        max-width: 354px;
    }

    .button-div {
        top: 2235px;
    }
}

@media screen and (max-width: 375px) {
    .skills {
        scroll-margin-top: 120px;
    }

    .skills-section {
        max-width: 375px;
    }

    .title-header {

        p {
            width: 270px;
        }
    }

    .shadow {
        right: 200px;
    }
}

@media screen and (max-width: 320px) {
    .skills-section {
        max-width: 320px;
    }
}