.skills {
    display: flex;
    justify-content: center;
    scroll-margin-top: 180px;
    margin-top: 120px;
}

.skills-section {
    width: 100%;
    max-width: 1440px;
    height: 100%;
}

.skills-content {
    display: flex;
}

.icon-div {
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 123px;
    row-gap: 56px;
    position: relative;
    opacity: 0;
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 88px;
    height: 100px;
    gap: 10px;

    p {
        font-size: 16px;
        font-weight: 700;
        line-height: 19.2px;
        margin: 0;
        text-align: center;
    }

    a {
        cursor: default;
        margin: 0;
        padding: 0;
    }
}

.icon {
    height: 60px;
    transition: 100ms ease-in-out;

    &:hover {
        transform: translateY(-10px);
    }
}

.title-content {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    position: relative;
    right: 50px;
    top: 80px;
}

.title-header {
    // width: 571px;
    // height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    opacity: 0;

    h2 {
        display: flex;
        gap: 35px;
    }

    p {
        text-wrap: wrap;
        width: 471px;
        text-align: right;
        gap: 34px;
    }
}

.title-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 34px;
}

.button-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button {
    font-size: 23px;
    line-height: 27.6px;
    border: 0;
    border-radius: 10px;
    padding: 15px 30px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    gap: 10px;
    background-color: var(--light-blue);
    color: white;
    cursor: pointer;
    transition: 125ms ease-out;

    &:hover {
        transform: translateY(5px);
        padding: 20px 40px;
        background-color: var(--purple);
    }
}

.border {
    position: relative;
    top: 56px;
    left: 563px;
    width: 58px;
    border-top: 4px solid var(--purple);
}