<section>
    <div class="icon-div">
        <div *ngFor="let btn of icon" class="icon">
            <img src="{{ btn.source }}" alt="{{ btn.name }}">
            <p>{{ btn.name }}</p>
        </div>
    </div>
    <div class="title-div">
        <div>
            <h2>My skills
                <div class="border"></div>
            </h2>

        </div>
        <p>I have grown my frontend developments skills that have allowed me to create different real projects.</p>
        <button>Get in touch</button>
    </div>
</section>
