@media screen and (max-width: 1440px) {
    .skills-section {
        max-width: 1440px;
        padding: 37px 50px;
    }

    .skills-content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .icon-div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .icon-content {
        padding-top: 70px;
        padding-bottom: 130px;
        justify-content: space-around;
    }

    .title-content {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: flex-end;

    }

    .title-header {
        display: unset;
        width: 100%;
        margin-right: unset;
    }

    .title-div {
        padding-right: 14px;
    }

    .button-div {
        top: 397px;
    }

    .shadow {
        right: 734px;
    }
}

@media screen and (max-width: 1242px) {
    .skills-section {
        max-width: 1242px;
    }

    .button-div {
        top: 553px;
    }
}

@media screen and (max-width: 1024px) {
    .skills-section {
        max-width: 1024px;
    }

    .title-header {
        p {
            width: 338px;
        }
    }

    .shadow {
        right: 534px;
    }
}

@media screen and (max-width: 820px) {
    .skills-section {
        max-width: 820px;
    }

    .button-div {
        top: 709px;
    }
}

@media screen and (max-width: 768px) {
    .skills-section {
        max-width: 768px;
        padding: 37px 25px;
    }

    .title-header {
        margin-right: unset;
    }

    .border {
        width: 20px;
        top: 22px;
        right: -23px;
    }

    .icon-content {
        gap: 30px;
    }

    .icons {
        p {
            font-size: 14px;
            line-height: 16.8px;
        }
    }

    .icon {
        display: flex;
        align-items: flex-end;

        img {
            height: 45px;
        }
    }

    .button-div {
        top: 380px;

        button {
            font-size: 16px;
            line-height: 19.2px;
        }
    }

    .title-div {
        padding-right: unset;
    }

    .shadow {
        right: 334px;
    }
}

@media screen and (max-width: 727px) {
    .skills-section {
        max-width: 727px;
    }

    .button-div {
        top: 510px;
    }
}


@media screen and (max-width: 530px) {
    .skills-section {
        max-width: 530px;
    }

    .shadow {
        right: 234px;
    }
}

@media screen and (max-width: 491px) {
    .skills-section {
        max-width: 491px;
    }

    .button-div {
        top: 640px;
    }
}

@media screen and (max-width: 425px) {
    .skills-section {
        max-width: 425px;
    }
}

@media screen and (max-width: 373px) {
    .skills-section {
        max-width: 373px;
    }

    .button-div {
        top: 898px;
    }
}

@media screen and (max-width: 375px) {
    .skills-section {
        max-width: 375px;
    }

    .title-header {

        p {
            width: 270px;
        }
    }

    .shadow {
        right: 200px;
    }
}

@media screen and (max-width: 320px) {
    .skills-section {
        max-width: 320px;
    }
}

@media screen and (max-width: 255px) {
    .skills-section {
        max-width: 255px;
    }

    .button-div {
        top: 1549px;
    }
}