<div class="imprint">
    <div class="imprint-content">
        <a href="/"><img (mouseenter)="hover = true;" (mouseleave)="hover = false;"
            [src]="hover ? '../../assets/img/arrow-blue.svg' : '../../assets/img/arrow-default.svg'" alt="Back Home" class="arrow"></a>
        <h3>Legal Notice</h3>

        <p class="address">Pirathib Mahalingam<br />
            Remisbergstrasse 47<br />
            8280 Kreuzlingen<br />
            Switzerland</p>

        <h4>Contact</h4>
        <p>Phone: +41 (0)76 433 499 2<br /><br />
            E-Mail: hello&commat;pirathib-mahalingam.com</p>
        <br />
        <h4>Disclaimer</h4>
        <h6>Responsibility for Content</h6>
        <p>The content of our websites has been created with the utmost care. Nevertheless, we cannot guarantee that the
            content is current, reliable, or complete. According to legal regulations, we are responsible for the
            content we create ourselves. In this context, we would like to clarify that we are not responsible for
            information provided by third parties or collected by them. We neither control the information sent nor do
            we track any potential illegal activities. If illegal activities are identified, we will fulfill our
            obligation to block or delete the corresponding content, in accordance with paragraphs 8 to 10 of the
            Telemedia Act (TMG).</p>
        <h6>Responsibility for Links</h6>
        <p>The responsibility for content from third-party links (external content) lies with the respective website
            operators. At the time of inserting the links used on our pages, no illegal activities were identified in
            them. Once we become aware of illegal activities or violations,
            we will remove the corresponding link.</p>
        <h6>Copyright</h6>
        <p>Our websites and their content (texts, photos, graphics, design) are subject to German copyright law. Unless
            otherwise legally agreed, the use, reproduction, copying, or modification of the content is subject to
            copyright. Exceptions must be approved in writing by the website operators or rights holders. Individual
            copies are only permitted for private use and may not be used directly or indirectly for commercial
            purposes. Unauthorized use of copyrighted material is punishable under Section 106.</p>
            <p>Source: <a href="http://impressumgeneratorenglisch.de/">impressumgeneratorenglisch.de</a></p>
        </div>
</div>