.imprint {
    // position: absolute;
    // top: 110px;
    // right: 0;
    // left: 0;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imprint-content {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    padding: 46px 100px 100px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    overflow-x: clip;
    background-image: url(../../assets/img/shadows/imprint.svg);
    background-repeat: no-repeat;
    background-position: 800px -600px;

    p {
        text-align: justify;
        text-align-last: left;
        margin-bottom: 32px;
    }
}

.arrow {
    width: 39px;
    height: 39px;
    position: relative;
    top: 85px;
    left: 1209px;
    transform: rotate(270deg);
    transition: 200ms ease-in-out;
}

@media screen and (max-width: 390px) {
    .imprint-content {
        padding: 100px 25px;

        p {
            margin-bottom: unset;
        }
    }

    .arrow {
        position: absolute;
        top: 34px;
        left: unset;
        right: 32px;
    }
}