@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: url(../src/assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins';
    font-weight: 700;
    src: url(../src/assets/fonts/Poppins-Bold.ttf);
}

:root {
    --dark-blue: rgba(20, 29, 47, 1);
    --light-blue: rgb(0, 190, 232);
    --purple: rgb(75, 71, 255);
    --white: rgba(255, 255, 255, 1);
    --blue-green: rgba(28, 230, 182, 1);
    --red: rgba(230, 28, 64, 1);
    --green: rgba(112, 230, 28, 1);
    --blue-gray: rgba(32, 43, 64, 1)
}

* {
    box-sizing: border-box;
    margin: 0;
    user-select: none;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--light-blue) var(--dark-blue);
}

::-webkit-scrollbar {
    width: 4px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-blue);
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    background-color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
}

::-webkit-resizer {
    background-image: url(assets/img/resizer.svg);
    background-repeat: no-repeat;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background-color: var(--dark-blue) !important;
    -webkit-box-shadow: 0 0 0px 1000px var(--dark-blue) inset !important;
    color: var(--white) !important;
    -webkit-text-fill-color: var(--white) !important;
}

html {
    scroll-behavior: smooth;
    // scroll-snap-type: y mandatory;
}

body {
    font-family: 'Poppins', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    color: var(--white);
    width: 100vw;
    height: 100%;
    background-color: var(--dark-blue);
    position: absolute;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 90px;
    line-height: 108px;
    font-weight: 700;
    margin: 0;
}

h3 {
    font-size: 56px;
    line-height: 58px;
}

h4 {
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    color: var(--purple);
}

h5 {
    font-size: 38px;
    line-height: 38.4px;
    font-weight: 700;
}

h6 {
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    color: var(--light-blue);
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

a {
    font-size: 16px;
    line-height: 19.2px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    user-select: none;
}

.d-none {
    display: none;
}

.animationFadeIn {
    animation: fadeIn 1250ms linear forwards;
}

.animationSlideInRight {
    animation: slideInRight 1250ms linear forwards;
}

.animationSlideInLeft {
    animation: slideInLeft 1250ms linear forwards;
}

@keyframes slideInRight {
    0% {
        left: 1000px;
        opacity: 0;
    }

    50% {
        left: 500px;
        opacity: 1;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

@keyframes slideInLeft {
    0% {
        right: 1000px;
        opacity: 0;
    }

    50% {
        right: 500px;
        opacity: 1;
    }

    100% {
        right: 0;
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 1;
    }
}

// .loadingSpinner {
//     width: 100%;
//     height: 100%;
//     background-color: var(--dark-blue);
//     position: fixed;
//     top: 0;
//     left: 0;
//     z-index: 999;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     overflow: hidden;
// }