@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: url(../src/assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins';
    font-weight: 700;
    src: url(../src/assets/fonts/Poppins-Bold.ttf);
}

html {
    scroll-behavior: smooth;

}

:root {
    --dark-blue: rgba(20, 29, 47, 1);
    --light-blue: rgba(0, 190, 232, 1);
    --purple: rgba(75, 71, 255, 1);
    --white: rgba(255, 255, 255, 1);

}

body {
    font-family: 'Poppins', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    color: var(--white);
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: var(--dark-blue);
}

.root-div {
    width: 100%;
}

h2 {
    font-size: 90px;
    line-height: 108px;
    font-weight: 700;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    user-select: none;
}

.logo {
    font-variant: small-caps;
    font-size: 64px;
    font-weight: 600;
    line-height: 52px;
    margin: 0;

    &:first-letter {
        color: var(--purple);
    } 
}