@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: url(../src/assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins';
    font-weight: 700;
    src: url(../src/assets/fonts/Poppins-Bold.ttf);
}

:root {
    --dark-blue: rgba(20, 29, 47, 1);
    --light-blue: rgba(0, 190, 232, 1);
    --purple: rgba(75, 71, 255, 1);
    --white: rgba(255, 255, 255, 1);
}

* {
    box-sizing: border-box;
    margin: 0;
    user-select: none;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--light-blue) var(--dark-blue);
}

::-webkit-scrollbar {
    width: 4px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-blue);
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    background-color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
}

::-webkit-resizer {
    background-image: url(assets/img/resizer.svg);
    background-repeat: no-repeat;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background-color: var(--dark-blue) !important;
    -webkit-box-shadow: 0 0 0px 1000px var(--dark-blue) inset !important;
    color: var(--white) !important;
    -webkit-text-fill-color: var(--white) !important;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    color: var(--white);
    // width: 100vw;
    height: 100vh;
    background-color: var(--dark-blue);
    position: relative;
    overflow-x: hidden;
}

h2 {
    font-size: 90px;
    line-height: 108px;
    font-weight: 700;
    margin: 0;
}

h3 {
    font-size: 56px;
    line-height: 58px;
}

h4 {
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    color: var(--purple);
}

h5 {
    font-size: 38px;
    line-height: 38.4px;
    font-weight: 700;
}

h6 {
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    color: var(--light-blue);
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    user-select: none;
}